<!-- This is the jumbotron and main header -->
<div class="container">
    <div class="jumbotron">
    <h1 class="text-center" id="header">
        <span class="glyphicon glyphicon-cutlery"></span> 
        Burger Nominator!
    </h1>
        <hr/>
        <h3>Get Ready To Om Nom Nom.</h3>
    </div>
</div>

<!-- This is where the data is updated to the window -->
<div class="container">
    <div class="col-md-6">
        <ul class="list-group">
            {{#each burgers}}
                {{#unless this.devoured}}
                <li class="list-group-item list-group-item-success">
                    {{this.burger_name}}

                    <form action="/{{this.id}}?_method=PUT" method="POST">
                    <input type="hidden" name="devoured" value="true">
                    <button class="form-control" type="submit">Om Nom Nom!</button>
                    </form>
                </li>
                {{/unless}}
            {{/each}}
        </ul>
    </div>
    <div class="col-md-6">
        <ul class="list-group">
        {{#each burgers}}
            {{#if this.devoured}}
            <li class="list-group-item list-group-item-danger">
                {{this.burger_name}}

                <form action="/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="devoured" value="false">
                <button class="form-control" type="submit">Give Me More!</button>
                </form>
            </li>
            {{/if}}
        {{/each}}
        </ul>
    </div>
</div>

<!-- This is where the client will add their burger -->
<form class="create-update-form" action="/" method="POST">

    <div class="form-group">
        <label for="burg">Burger:</label>
        <input class="form-control" type="text" id="burg" name="name" placeholder="Type in your burger name here...!">
    </div>

    <button class="form-control" type="submit">Submit!</button>

</form>
